<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051998036237-95q782ddl3v5u0djaolvu5i8i0lrtoa1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051998036237-95q782ddl3v5u0djaolvu5i8i0lrtoa1</string>
	<key>API_KEY</key>
	<string>AIzaSyC4A1ayaUukfJxN2NgUsdoDRClCixtm7Pk</string>
	<key>GCM_SENDER_ID</key>
	<string>1051998036237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yoon-yoo-sang.crypto-monitor-client</string>
	<key>PROJECT_ID</key>
	<string>cryptomonitor-fe8ba</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptomonitor-fe8ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051998036237:ios:49cbaf54630e3adf8a5044</string>
</dict>
</plist>